:root{
  --body_background: white;
  --body_color: black;
  --drawing_color: black;
}

[data-theme = "dark"]{
  --body_background: #34495e;
  --body_color: white;
  --drawing_color: white;
}


*{
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  background-color: var(--body_background);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
